// ===== Colors ===== // 
$black:        #000;
$white:        #fff;
$grey:         #444;
$greyter:      #333;

$main-text:    #444;     // основной текст
$white-text:   #fff;
$black-text:   #000;

$brand:        #FF8E8E;     // акцент/розовый (мини-баннеры(sale), активные состояния)
$new-banner:   #95CCB5;     

$bg-black:     #000;
$bg-soft:      #F1F2F3;     // светлая подложка (карточки, плейсхолдеры)
$bg-softer:    #f3f3f3;     // ещё мягче (локально в корзине)
$border:       #EEEEEE;     // разделители/рамки
