@use '../../styles/variables' as *;

.shop {
    display: flex;
    gap: 50px;
    padding-top: 200px;

    .sidebar {
        max-width: 244px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .search {
            position: relative;

            .search-row {
                padding: 0 25px 15px 0;
            }

            .search-icon {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .sidebar-item {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .sidebar-title {
                font-family: Josefin Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                border-bottom: 2px solid $black;
                padding-bottom: 15px;
                text-align: left;
            }

            .sidebar-content {

                .custom-list {
                    margin: 0 0 0 20px;
                }

                .price-bar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 15px;
                }

                .colors {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin: 0 0 8px 20px;

                    .color {

                        .color-checkbox {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                        }

                        .color-checkbox+.color-name {
                            display: inline-flex;
                            align-items: center;
                            user-select: none;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;

                            &::before {
                                content: "";
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                flex-shrink: 0;
                                flex-grow: 0;
                                border: 1px solid $border;
                                margin-right: 15px;
                                background-repeat: no-repeat;
                                background-position: center center;
                                box-sizing: border-box;
                            }
                        }

                        .color-checkbox:checked+.color-name {
                            color: $brand;

                            &::before {
                                background-image: url("../icons/check-pink.svg");
                            }
                        }
                    }
                }

                .reviewed-products {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .product {
                        display: flex;
                        gap: 15px;

                        .image {
                            width: 75px;
                            height: 85px;
                            background: $bg-soft;
                        }
                    }

                    .info {
                        max-width: 150px;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .name {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: $main-text;
                        }

                        .price {
                            gap: 10px;

                            .current-price {
                                font-size: 14px;
                                line-height: 14px;
                            }

                            .old-price {
                                font-size: 12px;
                                line-height: 12px;
                            }
                        }
                    }

                    .photo {
                        position: relative;
                    }
                }
            }
        }
    }

    .products-wrapper {
        max-width: 846px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 30px;

            .product {
                max-width: 262px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .photo {
                    height: 360px;
                    background: $bg-soft;
                    position: relative;

                    .photo-img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .top-bar {
                        position: absolute;
                        top: 15px;
                        left: 20px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 222px;

                        .favorits {
                            border: none;
                            background: transparent;
                            padding: 0;
                            cursor: pointer;

                            &.active {

                                img {
                                    filter: brightness(0) saturate(100%) invert(21%) sepia(93%) saturate(4775%) hue-rotate(339deg) brightness(99%) contrast(95%);
                                }
                            }
                        }

                        .labels {
                            display: flex;
                            gap: 15px;

                            .label {
                                font-size: 10px;
                                font-weight: 800;
                                line-height: 10px;
                                color: $white-text;
                                text-transform: uppercase;
                                padding: 5px 10px;
                                background: $brand;
                            }

                            .label.new {
                                background: $new-banner;
                            }
                        }
                    }
                }

                .buy-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    height: 35px;
                }

                .buy-panel {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;
                    height: 35px;

                    .qty-btn {
                        width: 35px;
                        height: 35px;
                        border: 1px solid $black;
                        background: transparent;
                        cursor: pointer;
                        font-size: 20px;
                        line-height: 20px;
                    }

                    .qty {
                        min-width: 20px;
                        text-align: center;
                        font-weight: 600;
                        margin: 0 10px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;

                    .name {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 27px;
                    }
                }
            }
        }

        .sort-and-count {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;

            .bold {
                font-size: 16px;
                font-weight: 600;
                line-height: 27px;
            }

            .sort {
                max-width: 262px;
                width: 100%;

                .input {
                    color: $black;
                }
            }
        }
    }
}