@use '../../styles/variables' as *;

.cart {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 200px;

    .order-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        align-items: flex-start;

        .product-list {
            max-width: 720px;
            width: 100%;
            display: flex;
            gap: 50px;
            flex-direction: column;
            border-bottom: 2px solid rgba(0, 0, 0, 1);
            padding-bottom: 10px;

            .product {
                display: flex;
                position: relative;
                gap: 30px;
                align-items: center;
                padding: 0 0 30px 0;
                border-bottom: 1px solid rgba(68, 68, 68, 10%);

                .photo {
                    max-width: 130px;
                    width: 100%;
                    height: 140px;
                    background: rgb(241, 242, 243, 1);
                    overflow: hidden;
                    border-radius: 4px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .product-info {
                display: flex;
                flex-direction: column;
                gap: 25px;
                width: 100%;

                .title {
                    font-family: Josefin Sans;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    color: rgb(0, 0, 0, 1);
                }

                .price-wrapper {
                    display: flex;
                    gap: 15px;
                    justify-content: space-between;
                    align-items: center;

                    .price-and-quantity {
                        display: flex;
                        align-items: center;
                        gap: 48px;

                        .quantity {
                            background: rgb(248, 248, 251, 1);
                            display: flex;
                            gap: 20px;
                            padding: 17px 23px;

                            .count {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 16px;
                            }

                            .count-button {
                                cursor: pointer;
                                color: rgb(153, 153, 153, 1);
                                font-size: 23px;
                                font-weight: 500;
                                line-height: 16px;
                            }
                        }
                    }

                    .total-price {
                        font-family: Josefin Sans;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                        color: rgb(0, 0, 0, 1);
                    }
                }

                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 3px 7px;
                    border: 1px solid rgba(68, 68, 68, 10%);
                    color: rgba(68, 68, 68, 10%);
                    cursor: pointer;
                }
            }
        }

        .order {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 360px;
            width: 100%;
            padding: 40px;
            border: 1px solid rgba(68, 68, 68, 0.1);

            .title {
                font-family: Josefin Sans;
                font-size: 32px;
                font-size: 400;
                line-height: 38px;
                color: rgb(0, 0, 0, 1);
            }

            .order-price-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .price-row {
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 27px;
                    color: rgba(68, 68, 68, 1);
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(68, 68, 68, 10%);

                    &.delimiter {
                        border-bottom: 2px solid rgba(0, 0, 0, 1);
                    }

                    &.total {
                        border-bottom: none;
                    }

                    .name {

                        .additional {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }

                    .price {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                        color: rgba(68, 68, 68, 1);
                    }
                }
            }
        }

        .button-wrapper {
            max-width: unset;
        }
    }

    .promo-code-wrapper {
        max-width: 375px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;

        .info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-family: Josefin Sans;
                font-size: 32px;
                font-weight: 400;
                line-height: 38px;
                color: rgba(0, 0, 0, 1);

                .description {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 27px;
                    color: rgba(68, 68, 68, 1);
                }
            }
        }

        .promo-code {
            display: flex;
            align-items: center;
            gap: 30px;

            .button-wrapper {
                max-width: 54px;

                .button {
                    padding: 17px 15px;
                }
            }
        }
    }
}