@use '../../../../styles/variables' as *;

.arrow {
    cursor: pointer;
    transition: transform .12s ease;
    will-change: transform;
}

.arrow:hover {
    transform: scale(1.1);
}

.page {
    cursor: pointer;
}