* {
    font-family: Raleway;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.container .input {
    border: none;
    border-bottom: 1px solid $grey, .2;
    width: 100%;
    color: $main-text, .5;
    outline: none;
    padding: 0 0 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: $white-text;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: $bg-black;
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;

}

.container .button-wrapper .vertical-line {
    width: 2px;
    height: 100%;
    background: $bg-black;
}

.container .price {
    display: flex;
    gap: 15px;
}

.container .price .current-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.container .price .old-price {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    font-family: Josefin Sans;
    text-decoration: line-through;
    color: rgba($grey, 1);
}

.container .custom-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .custom-list .item {
    color: $main-text;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.container .custom-list .item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-image: url("../icons/square.svg");
}

.container .custom-list .item.active {
    color: $brand;
}

.container .custom-list .item.active::before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-image: url("../icons/small-row.svg");
}

.container .find-us .find-us-text {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.container .find-us .find-us-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .find-us .find-us-links .find-us-link a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: $main-text;
}

.container .find-us .find-us-links .line {
    border-bottom: 1px solid $main-text;
    height: 1px;
    width: 10px;
}